--index-url https://test.pypi.org/simple/

pydevices-events>=0.0.17
pydevices-keys>=0.0.17
pydevices-multimer>=0.0.17
pydevices-displaydev>=0.0.17
pydevices-audiodev>=0.0.17
pydevices-eventsys>=0.0.17
pydevices-pygraphics>=0.0.32
pydevices-palettes>=0.0.8
pydevices-pdwidgets>=0.0.16
pydevices-desktop>=0.0.17
pydevices-lvgl>=9.5.26
